{% extends 'layout.html' %}

{% block content %}

<div class="container">

	<div class='page-header'>
		<h1 class="hide-mobile">{% if not form.instance.pk %}Create New: {% else %}Edit <span class="edit-item">{{ form.instance.title }}</span>{% endif %}</h1>
		<h1 class="show-mobile">{% if not form.instance.pk %}Create New: {% else %}Edit: {% endif %}</h1>
	</div>



<h1>Delete {{ checklist.title }}?</h1>

<form method='POST' style='width:100px;margin:0 auto;'>
	{% csrf_token %}
	<input type="submit" class="review-btn" value="Delete"> <a href="\checklist" class="review-lbl">Cancel</a>
</form>
{% endblock %}