{% extends "layout.html" %}

{% block content %}
<div class="parent-container">

    <div class="container">

        <!-- Main graphic on home page -->
        <div class="main-logo">
            <p class="main-color-1 text-left">Check<span class="main-color-2">list&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
            <p class="main-color-1 text-right">&nbsp;&nbsp;&nbsp;&nbsp;Yourself</p>
        </div>
        <p class="main-text text-center">A new way to organize your to-do list.</p>

    </div>

</div>
{% endblock content %}