{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Your Checklist</title>

    <!-- Insert Style Sheet Here-->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/normalize.css' %}" />
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/style.css' %}" />

    <!-- Insert Google Fonts Here -->
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <section class="header">
        <div class="wrap">
            <div class="row">

                    <nav id="main-nav" role="navigation">
                        <ul>
                            <li><a href="\home">Home</a></li>
                            <li><a href="#">Log in</a></li>
                            <li><a href="\checklist">Get Started!</a></li>
                            <li><a href="\contact">Contact</a></li>
                        </ul>
                    </nav>

            </div>
        </div>
    </section>
    <!-- /Header -->
    {% block content %}{% endblock content%}
    <!-- Footer -->
    <footer>
        <div class="wrap">
            <div class="row">

            </div>
        </div>
    </footer>
    <!-- /Footer -->