{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Your Checklist</title>

    <!-- Insert Style Sheet Here-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker3.min.css' %}" />
    <link rel="stylesheet" type="text/plain" href="{% static 'css/bootstrap-datepicker3.min.css.map' %}" />
    {% block css %}{% endblock %}

    <!-- Insert Google Fonts Here -->
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <section class="header">

        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <p class="navbar-text nav-header-text-xs"><strong>Check<span class="nav-color-2">list</span> Yourself</strong></p>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="\home">Home</a></li>
                        <li><a href="\checklist">Get Started!</a></li>
                        <li><a href="\contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </section>
    <!-- /Header -->
    {% block content %}{% endblock %}
    <!-- Footer -->
    <footer class="footer">
         <p>&copy; {% now "Y" %} - Checklist Yourself</p>
    </footer>
    <!-- /Footer -->

    <!-- Insert JavaScript Here -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
    {% block script %}{% endblock %}

</body>
</html>