#id_start_date,
#id_end_date,
#id_category {
    max-width: 200px;
}

.edit-item {
    color: #a6a6a6;
}

.input-field {
    padding-right: 5px;
    padding-left: 5px;
}

.fieldWrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-input {
    padding-bottom: 10px;
}

.btn-grp .btn {
    margin-right: 15px;

.btn-grp .btn:last-child {
    margin-right: 0px;
}